@media screen and (min-width: 769px){
    .menu-grid {
        display: grid;
        grid-template-columns: auto auto;
    }

    img {
        max-height: 200px;
    }

    .price{
        float: right;
    }
}

@media screen and (max-width: 768px) {
    .menu-grid {
        display: grid;
    }

    img {
        max-height: 150px;
    }
}

.menu-card{
    box-shadow: 10px 10px 10px black;
    background-color: aqua;
    border: 5px solid brown;
}



.menu-card:hover{
    transform: translateY(-100px);
    transition: 4000ms 2000ms;
    box-shadow: 20px 20px 20px red;
    
}
